DATABASE_URL_TEST="postgres://postgres:password@localhost:5432/IRent_test"
DATABASE_URL_DEV="postgres://postgres:password@localhost:5432/IRent_dev"
PORT = 8080
SECRET_KEY=thisshouldbeaveryrandomsecretkey